_*
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.toc
auto
./figure/prediction-error-pls.pdf
.Rproj.user
.Rhistory
/model-comparison-comments.pdf
/model-comparison-fig-tables.pdf
scripts/example-1/robj
scripts/example-2/unsync
